<div class="row col-10 offset-1">
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("today.png"), daily_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("weeks.png"), interval_cleans_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("6.png"), biannual_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("interval.png"), interval_tasks_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("spring.png"), spring_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("sum.png"), summer_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("leaves.png"), fall_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("winter.png"), winter_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("lifespan.png"), home_lifespans_path %>
  </div> 
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("vin.png"), vinegar_path %>
  </div>
  <div class="col-6 col-sm-4">
      <%= link_to image_tag("else.png"), moving_path %>
  </div>
</div>