<div class="booyah-box col-8 offset-2">
<%= simple_form_for @task do |f| %>
  <%= f.input :daily %>
  <%= f.input :weekly %>
  <%= f.input :monthly %>
  <%= f.input :message %>
  <%= f.submit %>
<% end %>
</div>