<div class="booyah-box col-8 offset-2">
  <h1>Cleans</h1>

  <%= simple_form_for @clean do |f| %>
    <%= f.input :spring %>
    <%= f.input :summer %>
    <%= f.input :fall %>
    <%= f.input :winter %>
    <%= f.input :message %>
    <%= f.submit "Add to My List" %>
  <% end %>
</div>