<div class="booyah-box col-8 offset-2">
<%= simple_form_for @task do |f| %>
  <%= f.input :spring %>
  <%= f.input :summer %>
  <%= f.input :fall %>
  <%= f.input :winter %>
  <%= f.submit %>
<% end %>
</div>

